<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Breizh Link</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h1>Are you a robot ?</h1>
<form action="#" th:action="@{/url/recaptcha}" method="post">
    <!--/*@thymesVar id="url_id" type="java.int"*/-->
    <input type="hidden" th:value="${url_id}" th:attr="name='url_id'" />
    <div class="g-recaptcha" data-sitekey="6LdT-SgUAAAAAHWUNCDDM3BcFzEPyoKRkMvnOB2r"></div>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>