<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Breizh Link</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Please enter the url password</h1>
<form action="#" th:action="@{/url/pwd}" method="post">
    <!--/*@thymesVar id="url_id" type="java.int"*/-->
    <input type="hidden" th:value="${url_id}" th:attr="name='url_id'" />
    <p>Password: <input type="password" name="password" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>